body {
  background-color: rgba(0, 0, 0, 0.865);
  font-family: 'Signika', sans-serif;
  font-size: 14px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.teamlink {
  color: #000000;
  transition: all 400ms ease 0s;
}

.teamlink:hover {
  text-decoration: none;
  color: #ff8800;
}

.custom-project div {
  max-width: 30rem;
  cursor: default;
  transition: all 700ms ease 0s;
}

.card {
  background-color: rgba(234, 234, 234, 0.8) !important;
}

.card:hover {
  background-color: rgba(255, 255, 255, 1) !important;
}

.custom-project div .custom-link {
  margin: 2px auto 10px auto;
  width: fit-content;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.688);
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  transition: all 300ms linear 0s;
}

.custom-project div:hover .custom-link {
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.custom-project div .custom-link:hover {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, .5);
  background-color: rgba(0, 0, 0, 0.809);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.card-header {
  color: rgb(74, 74, 74);
}

.fixed-icon {
  width: 100%;
  height: 50px;
}

.fixed-icon a {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 59px;
  left: 20px;
  text-decoration: none;
  background-color: rgba(181, 181, 181, 0.3);
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 0px 15px rgba(181, 181, 181, 0.3);
  border: 2px solid transparent;
  z-index: 100;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all 300ms ease 0s;
}

.fixed-icon a:hover {
  border-radius: 23px;
  border: 2px solid rgba(181, 181, 181, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
}

.fixed-icon i {
  display: inline;
}

.twitter {
  bottom: 30px;
}

.instagram {
  bottom: 103px;
}

.github {
  bottom: 176px;
}

.linkedin {
  bottom: 249px;
}

#small-link {
  padding: 10px;
}

#small-link p {
  text-decoration: none;
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
}

#small-link a {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 59px;
  border: 2px solid transparent;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(181, 181, 181, 0.3);
  box-shadow: 0px 0px 15px rgba(181, 181, 181, 0.3);
  transition: all 250ms ease 0s;
}

#small-link a:hover {
  border-radius: 30px;
  border: 2px solid rgba(181, 181, 181, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
}

@media all and (min-width:768px) {
  body {
    font-size: 18px;
  }

  .custom-project .card:hover {
    transform: scale(1.06);
  }
}