body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  font-family: 'Roboto';
}
::selection {
  color: #000000;
  background: #ff8800;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.custom-project div h5{
  font-size: 20px;
}
.custom-project div {
  max-width: 30rem;
  cursor: default;
  transition: all 700ms ease 0s;
}
.card{
  background-color: rgba(181, 181, 181, 0.3) !important;
}
.card:hover {
  background-color: rgba(255, 255, 255, 1) !important;
}
.custom-time{
  visibility: hidden;
}
.custom-project div:hover .custom-time{
  visibility: visible;
}
.custom-project div .custom-link {
  font-size: 16px;
  margin: 2px auto 10px auto;
  width: fit-content;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 10px;
  text-align: center;
  transition: all 700ms ease 0s;
}
.custom-project div .custom-link:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  color: rgb(255, 136, 0);
}
.card-header{
  font-size: 16px;
  color: rgb(74, 74, 74);
}
.twitter {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 65px;
  bottom: 30px;
  left: 20px;
  background-color: rgba(181, 181, 181, 0.3);
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all 600ms ease 0s;
}
.twitter:hover{
  border-radius: 20px;
  background-color: rgba(58, 107, 199, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.instagram {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 65px;
  bottom: 30px;
  left: 90px;
  background-color: rgba(181, 181, 181, 0.3);
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  font-size: 35px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all 600ms ease 0s;
}
.instagram:hover{
  border-radius: 20px;
  background-color: rgba(139, 79, 204,0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
@media all and (min-width:768px) {
  .custom-project .card:hover {
    transform: scale(1.06);
  }
}